
<div class="about-container-grid">

    <div class="about-dog"><img src="./images/dog-bw.png" alt="standing black and white dog" class="about-dog-img"></div>


    <div class="about-txt">
    
<h2 class="aboutTitle">WHO ARE WE?</h2>
<br>

<p>
The  Petlove Project is the result of a collaborative effort between 4 women Mickaelle, Jinjoo, Amanda and Mina, who all share a commun passion for  dogs.
Our goal is to make shelters the first place potential adopters turn when looking to get a new pet, ensuring that all healthy and treatable pets find loving homes. 
We do this by breaking down misconceptions surrounding shelter pets and celebrating the unique bond between every shelter pet and parent.
</p>

</div>

</div>


