<form method="POST" action="/user/form">
<div>
    <label for="name">Name:</label>
    <input type="text" name="name">
</div>
<div>
    <label for="breed">Breed:</label>
    <input type="text" name="breed">
</div>
<div>
    <label for="location">Location:</label>
    <input type="text" name="location">
</div>
<div>
    <label for="description">Description:</label>
    <input type="text" name="description">
</div>
<div>
    <label for="image">Image:</label>
    <input type="file" name="image">
</div>
<div>
    <p>Is Adopted ?</p>
</div>
<div>
  <input type="radio"  name="adopted" value="yes">
  <label for="yes">Yes</label>
</div>
<div>
  <input type="radio"  name="adopted" value="no">
  <label for="no">No</label>
</div>

<button>Add New Dog!</button>
</form>

