<form>
<div id="applicationForm">
<h2>Applicant Information</h2>
<h2>Household Information</h2>
<div>
    <p class="p">Are all members of your household in agreement with this adoption?</p>
    <input name="household" type="checkbox">
    <label class="label" for="household">Yes</label>
</div>
<div>
    <input name="household" type="checkbox">
    <label class="label" for="household">no</label>
</div>
<div>
    <label class="label" for="caregiver">Who will be the pet's primary caregiver?</label>
    <input class="input" name="caregiver" type="text">
</div>
<div>
    <p class="p">Do you live in a</p>
    <input name="houseType" type="checkbox">
    <label class="label" for="houseType">House</label>
</div>
<div>
    <input name="houseType" type="checkbox">
    <label class="label" for="houseType">Apartment</label>
</div>
<div>
    <p class="p">Do you have a fully fenced yard?</p>
    <input name="fence" type="checkbox">
    <label class="label" for="fence">Yes</label>
</div>
<div>
    <input name="fence" type="checkbox">
    <label class="label" for="fence">No</label>
</div>
<div>
    <label class="label" for="adult">How many adults are in your household?</label>
    <input class="input" name="adult" type="number">           
</div>
<div>
    <label class="label" for="children">How many children are in your household?</label>
    <input class="input" name="children" type="number">
</div>
<div>
    <p class="p">(If children)Have your children been around animals before?</p>
    <input name="animal" type="checkbox">
    <label class="label" for="animal">Yes</label>
</div>
<div>
    <input name="animal" type="checkbox">
    <label class="label" for="animal">No</label>
</div>
<h2>Current/Previous Pet Information</h2>
<div>
    <label class="label" for="currentPets">List any pets you own or have owned in the past five years, and their ages:</label>
    <input class="input" name="currentPets" type="text">
</div>
<div>
    <label class="label" for="currentPets">Where are these animals now?</label>
    <input class="input" name="currentPets" type="text">
</div>
<h2>New Pet Information</h2>
<div>
    <label class="label" for="personalityPreference">What type of personality do you want your pet to have? (calm, energetic, protective, couch-potato...)</label>
    <input class="input" name="personalityPreference" type="text">
</div>
<div>
    <p class="p">Are you aware of crate training?</p>
    <input name="crate" type="checkbox">
    <label class="label" for="crate">Yes</label>
</div>
<div>
    <input name="crate" type="checkbox">
    <label class="label" for="crate">No</label>
</div>
<div>
    <label class="label" for="aloneTime">How many hours each day will your new pet be home alone?</label>
    <input class="input" name="aloneTime" type="number">
</div>
<div>
    <label class="label" for="whereAtNight">Where will your new pet sleep at night?</label>
    <input class="input" name="whereAtNight" type="text">
</div>
<div>
    <p class="p">Are you aware that a new environment is stressful for your pet, and they may exhibit uncharacteristic behavior?</p>
    <input name="isBehaved" type="checkbox">
    <label class="label" for="isBehaved">Yes</label>
</div>
<div>
    <input name="isBehaved"type="checkbox">
    <label class="label" for="isBehaved">No</label>
</div>
<div>
    <p class="p">Are you aware that a large breed dog takes about two years to mature? Is this something you're prepared for?</p>
    <input name="largeBreed" type="checkbox">
    <label class="label" for="largeBreed">Yes</label>
</div>
<div>
    <input name="largeBreed" type="checkbox">
    <label class="label" for="largeBreed">No</label>
</div>
<div>
    <p class="p">Do you plan to take an obedience class with your dog?</p>
    <input name="dogClass" type="checkbox">
    <label class="label" for="dogClass">Yes</label>
</div>
<div>
    <input name="dogClass" type="checkbox">
    <label class="label" for="dogClass">No</label>
</div>
<div>
    <label class="label" for="giveup">What circumstances would lead you to give up your new dog?</label>
    <input class="input" name="giveup" type="text">
</div>
<div>
    <label class="label" for="giveupCase">If you had to give up your dog, what would you do with him/her?</label>
    <input class="input" name="giveupCase" type="text">
</div>


<h3>* I understand that I assume full responsibility for the welfare of this pet from the date of adoption.</h3>
<button id="btn-submit-adopt">Submit my application</button>
</div>
</form>