<div class="contactContainer">
<h2>CONTACT INFORMATION</h2>
<p><img class="iconContact" src="https://img.icons8.com/dotty/80/000000/email.png"/> : petlove@petlove.com</p>
<p><img class="iconContact" src="https://img.icons8.com/cotton/64/000000/touchscreen-smartphone--v2.png"/> : +33)0707070707</p>
<p><img class="iconContact" src="https://img.icons8.com/dotty/80/000000/phone.png"/> : +33)101010101</p>
<p><img class="iconContact" src="https://img.icons8.com/ios/50/000000/office-chair-2.png"/> : 226 Bd Voltaire, 75011 Paris</p>
<p><img class="iconContact" src="https://img.icons8.com/dotty/80/000000/animal-shelter.png"/> : 100 Bd Edouard Vaillant, 93300 Aubervilliers</p>
</div>