<form action="/donate" method="POST">
<h1>Help us to save our dogs !</h1>

<h2 class= "sponsor"> Sponsor an animal !</h2>
<p>Sponsorship is a regular donation for an animal that you have chosen in advance to cover its care and feeding. If you live near the shelter where the animal is, you can come and see it, pet it, walk it (if it is a dog). Depending on the association, the sponsor receives regular news and photos of his protégés. Sponsoring an animal means that an old, injured or paralyzed animal will not be euthanized.</p>

<h2 class="donation">Money, material or food, make a donation!</h2>
<p>There are many needs and all donations are welcome. The shelters need money for food, veterinary care and maintenance.</p>
<div>
  <input type="radio"  name="donation" value="money">
  <label for="money">Money</label>
</div>
<div>
  <input type="radio"  name="donation" value="material">
  <label for="material">Material</label>
</div>
<div>
  <input type="radio"  name="donation" value="food">
  <label for="food">Food</label>
</div>
<button>Donate Now!</button>
</form>
