{{!-- <form action="/donate" method="POST"> --}}
<div class="donateContainer">
<h1 class="donationTitle">HELP US TO SAVE OUR DOGS ! </h1>
<div>
<h2 class= "sponsor"> Sponsor an animal <img src="https://img.icons8.com/ios-filled/50/000000/dog-footprint.png"/> </h2>
<p>Sponsorship is a regular donation for an animal that you have chosen in advance to cover its care and feeding. If you live near the shelter where the animal is, you can come and play with them ! Depending on the association, the sponsor receives regular news and photos of his protégés. Sponsoring an animal means that an old, injured or paralyzed animal will not be euthanized.</p>
</div>
<div>
<h2 class="donationText">Financial help, food or any materials give away, make a donation ! <img src="https://img.icons8.com/ios/50/000000/volunteering.png"/></h2>
<p>There are many needs and all donations are welcome. The shelters need financial help for feed our animals, veterinary care and maintenance.</p>
</div>
<h2 class="linkDonate">Please click <a href="/contact-us">here</a> to contact our team to learn more about sponsorship and where / how to donate !</h2>

</div>

{{!-- <div>
  <input type="radio"  name="donation" value="money">
  <label for="money">Money</label>
</div>
<div>
  <input type="radio"  name="donation" value="material">
  <label for="material">Material</label>
</div>
<div>
  <input type="radio"  name="donation" value="food">
  <label for="food">Food</label>
</div>
<button>Donate Now!</button>
</form> --}}
