<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>     
         {{> nav}}

    </nav>
    {{{body}}}
    <footer id="logo">
  <ul id="logo-ul">
   <li><a href=“https://www.facebook.com/”> <img src="https://img.icons8.com/color/50/000000/facebook-new.png"/></a></li>
    <li><a href=“https://twitter.com/?lang=fr”><img src="https://img.icons8.com/color/50/000000/twitter--v1.png"/></a></li>
    </ul>
  </footer>
  </body>
  
</html>
