<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    {{> nav}}
   
  <nav>
     
      
          <a href="/signup"></a>
          <a href="/signin"></a>
        
     
    </nav>
    {{{body}}}
  </body>
</html>
