 <h2 class="titlesignup">Signup</h2>
<div id="form">
 
  <form action="/signup" method="POST">

<div class="space-div">
      <label>Username</label>
    <input type="text" name="name" placeholder="..." />
</div>

<div class="space-div">
     <label> Email </label>
  <input type="email" name="email" placeholder="@ironhack.com" />
</div>
 
 <div class="space-div">
   <label> Password</label>
     <input type="password" name="password" placeholder="********" />
 </div>
    

<div class="space-div">
  <label>City</label>
     <input type="city" name="city" placeholder="*****" />
</div>

    

<div class="space-div">
  <label>Phone</label>
     <input type="phone" name="phone" placeholder="*****" /></div>
<div>
    <label>Date of birth </label>
    <input type="date" name="dateofbirth" placeholder="*****" />   
</div>
  
   

    <button class="submitbtn-signup" type="submit">Sign-up</button>
    <br>

    <small>Already have an account ? <a href="/signin"><u>Login!</u></small>
  
    

    {{! error message will be added here }}
  </form>
</div>