 <h2 class="titlesignup">Login</h2>
<div id="form">

 
 
  <form action="/signin" method="POST">
    
    <div class="space-div"> <label> Email</label>
    <input type="email" name="email" placeholder="***@ironhack.com" /></div>


    <div class="space-div"><label>Password </label>
    <input type="password" name="password" placeholder="********" /></div>

    <button class="submitbtn-signup" type="submit">Sign-in</button>
  
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>