
  <h2>Welcome, {{ currentUser.name }}!</h2>
  <p>This is your profile page</p>
  <div id="container1">
    {{#each dogs}} 
    
        <div class="dogFavoris">
        <img class="profileDog" src="{{this.image}}" alt="{{this.name}}">
        <span>{{this.name}}</span>
        </div>

        

    
    {{/each}}
  </div>
  {{!-- <button>
    <a href="/userProfile">Reload the page</a>
  </button> --}}

