
  <h2>Welcome, {{ currentUser.name }}!</h2>
  <p>This is your profile page</p>

    {{#each dogs}} 
    
    <ul>
      <li>
        {{this.name}}
      </li>
    </ul>
    {{/each}}
  
  {{!-- <button>
    <a href="/userProfile">Reload the page</a>
  </button> --}}

