

<div class="volunteer">


<h1 class="volunteerTitle">Do you love animals and are you determined to support helpless creatures around the world?</h1>

<h1 class="help"> WE NEED YOUR HELP ! <img src="https://img.icons8.com/cotton/64/000000/hand-holding-heart--v1.png"/></h1>

<div id="volunteerContainer">
<div class="volunteerText">
<h2>AT SHELTER :</h2>
<br>
<p>Veterinary Hospital</p>

<p>Boarding Facility</p>
<p>Foster Home</p>
<p>Dog Grooming</p>
<p>Shelter Work</p>
<p>Training/Obedience</p>
<p>Pet Sitting</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
</div>



<div class="volunteerText">
<h2>Or you can also help us with other works if you're talented at :</h2>
<br>
<p>Computers</p>
<p>Management</p>
<p>Graphic Arts</p>
<p>Woodwork/Carpentry</p>
<p>Painting</p>
<p>Photography</p>
<p>Writing</p>
<p>Secretarial</p>
<p>Fund-raising</p>
<p>Public Speaking</p>
</div>
<div>
     <img class="volunteerImg" src="../images/volunteer.jpg">
</div>
</div>
{{!-- <div class="shelterInfo">
<p>
     Countless animals are born on the streets or are victims of abuse and abandonment. 
     They are injured, ill, traumatized and in dire need of tender love and care. 
     If you are excited to work with rescued wildlife or cats and dogs, don’t hesitate to join one of our animal shelter programs partnerships. 
     Help initiate the adoption process so they become someone’s loving pet.
     This is your chance to donate some of your time to shelter and get to know the local community.
     A new and meaningful volunteer experience awaits you at an animal rescue project!
     Choose one of our shelters we work with.
</p>
<a href="https://www.cda-paris12.com/">Club de Défense des Animaux Paris 12</a> 
<br>
<a href="https://www.la-spa.fr/gennevilliers">SPA gennevilliers</a>
</div> --}}
<h1 class="joinus">Join PETLOVE team and spread the LOVE</h1>