

<div class="volunteer">
<h2>Do you love animals and are you determined to support helpless creatures around the world?</h1>
<div>
<p>
     Countless animals are born on the streets or are victims of abuse and abandonment. 
     They are injured, ill, traumatized and in dire need of tender love and care. 
     If you are excited to work with rescued wildlife or cats and dogs, don’t hesitate to join one of our animal shelter programs partnerships. 
     Help initiate the adoption process so they become someone’s loving pet.
     This is your chance to donate some of your time to shelter and get to know the local community.
     A new and meaningful volunteer experience awaits you at an animal rescue project!
     Choose one of our shelters we work with.

    <ul>
       <li> <a href="https://www.cda-paris12.com/">Club de Défense des Animaux Paris 12></a></li> 
    
   <li> <a href="https://www.la-spa.fr/gennevilliers">SPA gennevilliers</a></li>

</ul>
    </p>
    </div>