@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    font-family: 'Noto Sans', sans-serif;;
}


body {
    margin: 50px 70px;
}

#landing{
  background-image: url("../images/landing.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: bottom 0%;
}
.nav-link {
    display:flex;
    list-style: none;   
    flex-direction: row;
    justify-content: flex-end;
}


.nav-link >li {
    padding-left: 30px;
}


a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

a:hover {
    color: pink;
  } 


.sign {
    font-size: 1rem;
}

.home-logo {
    padding: 20px;
}

.contact {
    background-color: hotpink;
    padding: 5px 15px;
}

.donate {
    border-radius: 10px;
    border-style: dotted;
    border-color: hotpink;
    padding: 5px 15px;
}

.landing-msg {
    font-variant: small-caps;
    text-align: center;
    font-size: 6rem;;
    padding: 4rem;
}

.dogPic {
    width: 400px;
}
.dogList {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.buttonAdmin {
    display: flex;
    justify-content: center;
}
.buttonUser {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.textpart {
    background-color: rgb(208, 239, 245);
    width: 400px;
    text-align: center;
    list-style: none;
}

#applicationForm {
    text-align: center;
}

#applicationForm >div {
    padding: 20px;
}

#applicationForm >h2 {
    font-size: 30px;
}
#applicationForm >h3 {
    font-size: 25px;
}

#btn-submit-adopt {
    background-color: rgb(255, 213, 0);
    width: 200px;
    height: 70px;
    font-size: 20px;
    margin: 50px;
}
.input {
    height: 25px;
    border: 2px solid hotpink;
    border-radius: 5px;
}
