 <nav>
        <div class="nav-up">
            <a class="home-logo" href="/">HOME</a>
            <ul class="nav-link">
                <li><a class="sign" href="/signup">Sign up</a></li>
                <li><a class="sign" href="/signin">Sign in</a></li>

            </ul>
        </div>
        <ul class="nav-link">
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/adopt">ADOPT</a></li>
            <li><a href="/volunteer">VOLUNTEER</a></li>
            <li><a class="donate" href="/donate">DONATE</a></li>
            <li><a class="contact" href="/contact-us">CONTACT US</a></li>
        </ul>
    </nav>