 <nav>
        <div class="nav-up">
            
            <a  href="/"><img class="logo" src="/images/petlovelogo.svg"></a>
            
            <ul class="nav-link">
                {{#unless isLoggedIn}}
                <li><a class="sign" href="/signup">Sign up</a></li>
                <li><a class="sign" href="/signin">Sign in</a></li>
                {{/unless}}

             {{#if isLoggedIn}}
            <p class="welcomeUser">Welcome, {{currentUser.name}}</p>
            <a href="./userProfile"><img class="profilepage" src="https://img.icons8.com/ios/50/000000/dog-training.png"/></a>
            <form id="signout-form" action="/signout" method="POST">
            <button class="logout">Logout</button>
            </form>
            {{/if}}
            </ul>
        </div>
        <ul class="nav-link">
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/adopt">ADOPT</a></li>
            <li><a href="/volunteer">VOLUNTEER</a></li>
            <li><a class="donate" href="/donate">DONATE</a></li>
            <li><a class="contact" href="/contact-us">CONTACT US</a></li>
        </ul>
    </nav>